nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    color: #fff;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}